
<h1>Crear Rol</h1>

<form asp-action="Create" method="post">
    <label for="nombre" class="col-form-label">Rol</label>
    <input type="text" name="nombre" placeholder="Ingrese aquí el nombre del rol" class="form-control"/>
    <input type="submit" value="Crear" class="btn btn-outline-primary" />
</form>