@model SCAME.Models.MedicoDetalle

@{
    ViewData["Title"] = "Edit";
}

<br>
<div class="container">
  <div class="abs-center">
       <h2>Editar Medico Detalle</h2>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMedicoDetalle" />
            <h4>
            <div class="form-row col-md-12">
            <div class="form-group col-md-6">
                <label asp-for="MedicoId" class="control-label"></label>
                <select asp-for="MedicoId" class="form-control" asp-items="ViewBag.MedicoId"></select>
                <span asp-validation-for="MedicoId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="EspecialidadId" class="control-label"></label>
                <select asp-for="EspecialidadId" class="form-control" asp-items="ViewBag.EspecialidadId"></select>
                <span asp-validation-for="EspecialidadId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PrecioEspecialidad" class="control-label"></label>
                <input asp-for="PrecioEspecialidad" class="form-control" />
                <span asp-validation-for="PrecioEspecialidad" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="DescripcionEspecialidad" class="control-label"></label>
                <input asp-for="DescripcionEspecialidad" class="form-control" />
                <span asp-validation-for="DescripcionEspecialidad" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="TurnoId" class="control-label"></label>
                <select asp-for="TurnoId" class="form-control" asp-items="ViewBag.TurnoId"></select>
                <span asp-validation-for="TurnoId" class="text-danger"></span>
            </div>
            <div class="form-group form-check col-md-6">
                <label class="form-check-label col-md-6">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group col-md-6" >
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="form-group col-md-6" >
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
</div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
