@model SCAME.Models.Consultorio

@{
    ViewData["Title"] = "Edit";
}

<br>
<div class="container">
  <div class="abs-center">
       <h2>Editar Consultorio</h2>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="IdConsultorio" />
            <input type ="hidden" asp-for="ImageName" value="@Model.ImageName" /> 

            <dl>
                <dd class="col-sm-10 font-weight-bold">
                    Imagen actual:
                    <img src="@("/image/" + Model.ImageName)"  asp-append-version="true" class="rounded-sm" width="250px" height="250px" />
                </dd>
            </dl>
            <h4>
            <div class="form-row col-md-12">
            <div class="form-group col-md-6">
                <label asp-for="ImageFileNuevo" class="control-label"></label>
                <input asp-for="ImageFileNuevo" accept="image/*" />
                <span asp-validation-for="ImageFileNuevo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Ruc" class="control-label"></label>
                <input asp-for="Ruc" class="form-control" />
                <span asp-validation-for="Ruc" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="NombreConsultorio" class="control-label"></label>
                <input asp-for="NombreConsultorio" class="form-control" />
                <span asp-validation-for="NombreConsultorio" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CedulaRepresentanteLegal" class="control-label"></label>
                <input asp-for="CedulaRepresentanteLegal" class="form-control" />
                <span asp-validation-for="CedulaRepresentanteLegal" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="NombreRepresentateLegal" class="control-label"></label>
                <input asp-for="NombreRepresentateLegal" class="form-control" />
                <span asp-validation-for="NombreRepresentateLegal" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ApellidoRepresentanteLegal" class="control-label"></label>
                <input asp-for="ApellidoRepresentanteLegal" class="form-control" />
                <span asp-validation-for="ApellidoRepresentanteLegal" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="NumPatenteMunicipal" class="control-label"></label>
                <input asp-for="NumPatenteMunicipal" class="form-control" />
                <span asp-validation-for="NumPatenteMunicipal" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PermisoFuncionamientoMsp" class="control-label"></label>
                <input asp-for="PermisoFuncionamientoMsp" class="form-control" />
                <span asp-validation-for="PermisoFuncionamientoMsp" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CantonId" class="control-label"></label>
                <select asp-for="CantonId" class="form-control" asp-items="ViewBag.CantonId"></select>
                <span asp-validation-for="CantonId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="form-group col-md-6">
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
</div>
</h4>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
