@model SCAME.Models.Especialidad

@{
    ViewData["Title"] = "Details";
}
 <br/>
  <br/>
  <br/>
<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Detalle Especialidades</h1>
      <h2>
      <br/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEspecialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEspecialidad)
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn-get-started scrollto">Editar</a> 
    <a asp-action="Index" class="btn-get-started scrollto">Regresar</a>
</div>
</h2>
 </div>
  </section>
